.picture-layout-transparent {
  /*  background: url('/images/Senses-EP.jpg')center/cover;
*/
}

body {
  background-color: #a6d9d0;
}

.mdl-layout__header {
  height: 7%;
  background-color: #090909;
}

.mdl-layout__content {
  z-index: 3;
  background-color: #a6d9d0;
  overflow: visible;
}

.middlekeidarou {
  top: 40vh;
  overflow: visible;
}

.titletext {
  height: 800px;
  text-align: center;
  vertical-align: middle;
}

.inlinetitletext {
  font-size: 5vw;
  text-align: center;
  font-weight: bolder;
  color: #000000;
}

.subtitletext {
  font-size: 200%;
  font-weight: bolder;
  color: #000000;
}

.rightbar {
  font-size: 100%;
}

.leftbar {
  font-size: 100%;
}

.title_fontsize {
  /*SpiderChatの部分のフォントサイズを変える*/
  /*font-size: 180%;*/
}
